*<%= @flight_no || @flight["flightNo"] %>*
<%= @airline_desc || @flight["airlineDesc"] %>
<%= if @flight_no do %>Operated by: <%= @flight["airlineDesc"] %> <%= @flight["flightNo"] %>
<% end %>Arriving from <%= @flight["from"] %>
Scheduled time: <%= @flight["scheduledDatetime"] %>
<%= if @flight["estimationTimeFlag"] do %>Estimated time: <%= @flight["estimatedTime"] %>
<% end %>
Status: *<%= @flight["status"] %>*

T<%= @flight["terminal"] %>
Luggage at belt <%= @flight["belt"] %>
